.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 80px;
    right: 0;
    z-index: 5;

    .empty-message {
        font-size: 18px;
        margin: auto;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow:auto;
    }

    button {
        margin-top: auto;
    }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
//   display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}